table, th, td {
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

th {
  background-color:aqua;
}

img {
  padding: 3px;
}

tr:nth-child(odd) {
  background: #f0f0f0;
}

tr:nth-child(even) {
  background: #f0f0f0;
}
